<div class="Main">
  <div class="Main__hero Container Container--wider lazyload" data-bgset="{{ page.metafields.gwm.header_image }}">
  </div>
  <div class="Container Container--narrow">
    <header class="Main__header">
      <h1>{{ page.title }}</h1>
    </header>
    <div class="Main__content rte">
      {{ page.content }}

      {% form 'contact' %}

          {% if form.posted_successfully? %}
            <p class="note form-success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {% endif %}

          {{ form.errors | default_errors }}

          <div class="Form__grid">
            <div class="Form__input Grid-medium-1-3">
              <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
              <input type="text" id="ContactFormName" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div>
            <div class="Form__input Grid-medium-1-3">
              <label for="ContactFormEmail" class="{% if form.errors contains 'email' %}label--error{% endif %}">{{ 'contact.form.email' | t }}</label>
              <input type="email" id="ContactFormEmail" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" class="{% if form.errors contains 'email' %}input--error{% endif %}" required>
            </div>
            <div class="Form__input Grid-medium-1-3">
              <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
              <input type="tel"
                name="contact[phone]"
                id="ContactFormPhone"
                value="{% if form[phone] %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                pattern="[0-9\-]*">

            </div>

            <div class="Form__input">
              <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
              <textarea rows="10" id="ContactFormMessage" name="contact[body]" required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
            </div>
          </div>
          <button type="submit" class="Button Button--primary">{{ 'contact.form.send' | t }}</button>

        {% endform %}
    </div>
  </div>
</div>
