<div class="Main">
  <header class="Main__header">
    <h1>{{ 'customer.register.title' | t }}</h1>
  </header>
  <main class="Main__content">
    <div class="Container Container--narrow">
      {% form 'create_customer', data-register-form:'' %}

        {{ form.errors | default_errors }}

        <div class="Form__grid">
          <div class="Form__input Grid-medium-1-2">
            <label for="FirstName" class="label-hidden">
              {{ 'customer.register.first_name' | t }}
            </label>
            <input type="text"
              name="customer[first_name]"
              id="FirstName"
              placeholder="{{ 'customer.register.first_name' | t }}"
              autofocus
              {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
          </div>
          <div class="Form__input Grid-medium-1-2">
            <label for="LastName" class="label-hidden">
              {{ 'customer.register.last_name' | t }}
            </label>
            <input type="text"
              name="customer[last_name]"
              id="LastName"
              placeholder="{{ 'customer.register.last_name' | t }}"
              {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
          </div>
          <div class="Form__input Grid-medium-1-2">
            <label for="Email" class="label-hidden">
              {{ 'customer.register.email' | t }}
            </label>
            <input type="email"
              name="customer[email]"
              id="Email"
              class="{% if form.errors contains 'email' %}input-error{% endif %}"
              placeholder="{{ 'customer.register.email' | t }}"
              value="{% if form.email %}{{ form.email }}{% endif %}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off"
              data-form-email>
          </div>
          <div class="Form__input Grid-medium-1-2">
            <label for="CreatePassword" class="label-hidden">
              {{ 'customer.register.password' | t }}
            </label>
            <input type="password"
              name="customer[password]"
              id="CreatePassword"
              class="{% if form.errors contains 'password' %}input-error{% endif %}"
              placeholder="{{ 'customer.register.password' | t }}"
              data-form-password>
          </div>
        </div>

        <div class="Nav Nav--sector">
          <div class="Nav Nav--bar">
            <a href="{{ shop.url }}" class="Nav__item Nav__item--main text-underline">{{ 'customer.register.cancel' | t }}</a>
          </div>
          {% if cart.item_count > 0 %}
            <input type="hidden" name="return_to" value="/checkout" />
          {% else %}
            <input type="hidden" name="return_to" value="/account" />
          {% endif %}
          <input type="submit" value="{{ 'customer.register.submit' | t }}" class="Button">
        </div>
      {% endform %}
    </div>
  </main>
</div>